@{
    ViewData["Title"] = "Display Movies";
}
@model List<EnterMovies> 

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Title</td>
            <td>Director</td>
            <td>Year</td>
            <td>Category</td>
            <td>Rating</td>
            <td>Lent To:</td>
            <td>Edited?</td>
            <td>Notes</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
        <tr>
            <td>@x.Title</td>
            <td>@x.Director</td>
            <td>@x.Year</td>
            <td>@x.Category.Category</td>
            <td>@x.Rating</td>
            <td>@x.LentTo</td>
            <td>@x.Edited</td>
            <td>@x.Notes</td>
            <td><a asp-controller="Home" asp-action="EditMovie" asp-route-movieid="@x.MovieID">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.MovieID">Delete</a></td>
        </tr>
        }

    </tbody>
</table>